*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

.Outer-body{
    border: 2px solid red;
    height: 1000px;
    width: 100%;
}

.left{
    background-color: #0078D7;
    width: 30%;
    height: 1000px;
    float: left;

}

.right{
    background-color: yellow;
    width: 70%;
    height: 1000px;
    float: right;
}

/* logo-component */

.logo{
    color:#ffffff;
    margin-left: 20px;
    font-weight: bold;
    font-size: 30px;
}

/* greething page */

.greet-page{
    font-size: 64px;
    color: #ffffff;
    line-height: 75px;
    text-align: center;
    margin-top: 270px;
    margin-bottom: 30px;
}

.greet-page-desc {
    text-align: center;
    padding: 0px 80px;
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
}


/* button */

.btn {
    width: 332px;
    height: 85px;
    text-decoration: none;
    cursor: pointer;    
    border: 3px solid #c3ddf7;
    border-radius: 100px;
    padding: 18px 76px;
    
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;

}

.wrap-btn{
    margin-top: 80px ;
    text-align: center;
    text-decoration: none;
}



.btn-in-formSign{
    background-color: #0078D7 !important; 
}




/* form-sign */

.form-sign-title{
    font-size: 64px;
    font-weight: bold;
    color: #0078d7;

    text-align: center;
    line-height: 75px;
    margin-top: 80px;
}

.list-social-media{
    text-align: center;
    list-style: none;    
    
}

.social-media-logo{
    font-size: 2.5em;
    font-weight: bold;

    border: 3px solid #c4c4c4;
    padding: 30px 30px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: inline-block;
    margin: 0px 20px;
}

.social-media-logo a{
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}


.desc-info-email-use{
    font-size: 30px;
    color: #c4c4c4;
    text-align: center;
    margin-top: 50px;
}

.btn-form-sign{
    background-color: #0078D7;
    color: #ffffff;
}


/* form */



input{
    display: block;
    margin: auto;

    width: 600px;
    height: 80px;

    border: 2px solid #c4c4c4;
    border-radius: 10px;
    margin-bottom: 50px;

    padding: 0 20px;

    line-height: 47px;
}

input::placeholder{
    font-size: 1.5rem;
    color: #c4c4c4;
}

.wrap-from{
    display: block;    
    width: 100%;
}